body{
    background: url(../images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    
}


/* HEADER */

.header{
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-left: 220px;
    margin-bottom: 700px;
}

/* MAIN */

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: fixed;
}

.info{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
}

.info h2{
    text-transform: capitalize;
    font-size: 55px;
    line-height: 90px;
    font-weight: 600;
    max-width: 700px;
}

.paragrafo{
    margin-top: 25px;
    max-width: 500px;
}

.register{
    background-color: #fff;
    margin-top: 40px;
    border-radius: 50px;
    width: 210px;
    padding: 15px 69px;
    font-size: 18px;
    box-shadow: 0 10px 50px hsl(252, 41%, 33%);
}

.register:hover{
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    transition: 0.3s ease-in-out;
}

.footer div{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

.footer ul{
    display: flex;
}

.footer a{
    margin: 12px;
    transition: 0.4s ease-in-out;
}

.footer i{
    font-size: 25px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 14px;
    color: #fff;
}

.face{
    width: 54px;
    display: flex;
    margin-right: 20px;
    margin-top: -6px;
}

.footer i:hover{
    color: hsl(300, 81%, 69%);
    border: 1px solid hsl(300, 81%, 69%);
}
